div {
	height: 50px;
	width: 100px;
	border-radius: 5px;
	display: block;
	margin: auto;
}

#Hero {
	margin: auto;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0px;
    top: 0px;

#Header {
	font-family: Impact;
	font-size: 7em; 
	position: relative;
}

#Subhead {
	font-family: Times;
	font-size: 3em; 
	display: inline-block;
}

