.Links {
    position: relative;
    margin-left: 1133px;
    display: block;
    font-family: arial;
    font-size: 2em;
    font-weight: bold;
    margin-top: -18px;
    color: #000;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #grey;
}

a:visited {
    color: firebrick;
}