div {
	height: 50px;
	width: 100px;
	border-radius: 5px;
	display: block;
	margin: auto;
}

#Header {
	font-family: Impact;
	font-size: 7em; 
	position: relative;
}

#Subhead {
	font-family: Times;
	font-size: 3em; 
	display: inline-block;
}

#Hero {
	margin: auto;
	width: 1286px;
	height: 500px;
}