div {
	display: inline;
	color: blue;
	font-family: DejaVu Serif;
	font-weight: bold;
	font-size: 15px;
}

.Regular {
	display: inline-block;
	color: #000080;
	font-family: DejaVu Serif;
	font-weight: bold;
	font-size: 35px;
	margin-left: 500px
}

.Special {
	display: inline-block;
	color: #000080;
	font-family: DejaVu Serif;
	font-weight: bold;
	font-size: 20px;
	

}

#Header {
	text-align: center;
}

.Font2 {
	color: #000080;
	font-family: DejaVu Serif;
	font-size: 2;
}

.Font4 {
	font-color: #000080;
	font-family: DejaVu Serif;
	font-size: 4;
}

.Font6 {
	font-color: #000080;
	font-family: DejaVu Serif;
	font-size: 6;
}