div {
	display: inline;
}


.Regular {
	display: inline;
	color: #000080;
	font-family: DejaVu Serif;
	font-weight: bold;
	font-size: 6;
}

.Special {
	display: inline;
	color: #000080;
	font-family: DejaVu Serif;
	font-weight: bold;
	font-size: 6;

}

#Header {
	text-align: center;
}

.Font2 {
	color: #000080;
	font-family: DejaVu Serif;
	font-size: 2;
}

.Font4 {
	font-color: #000080;
	font-family: DejaVu Serif;
	font-size: 4;
}

.Font6 {
	font-color: #000080;
	font-family: DejaVu Serif;
	font-size: 6;
}