a:link {color: black; text-decoration: none}
a:visited {color: black;}
a:hover {color: #8D8D8C;}
a:focus {color: #8D8D8C;}
a:active {color: maroon;}

#Hero {
  margin: auto;
    min-height: 100%;
    min-width: 1em;
    width: 100%;
  height: auto;
    position: fixed;
    left: 0em;
    top: 0em;
}

#Header {
    font-size: 6em;
    position: relative;
    display: block;
    font-family: Arial;
    margin: 0.3em 1em 1em 2.5em;
}



.Links {
    font-family: arial;
    font-size: 2em;
    font-weight: bold;
    position: fixed;
    margin: -3em 1em 1em 35em;
    list-style: outside none none;
}

.BlogLinks
{
    position: relative;
    display: block;
    font-family: Courier;
    color: #000;
    margin: -1em 1em 1em 21em;
    font-size: 2.1em;
}