a:link {color: black; text-decoration: none}
a:visited {color: black;}
a:hover {color: #8D8D8C;}
a:focus {color: #8D8D8C;}
a:active {color: maroon;}

ul
{
    list-style-type: none;
}


#consthead {
    font-size: 4em;
    font-family: Arial;
    color: #000;
    position: relative;
    margin: 0em 1em 1em 1em;
    text-align: center;
}
    
#construction {
    height: 27em;
    width: 28em;
    position: relative;
    display: inline-block;
    margin: -4em 1em 1em 26em;
}

.Links {
   font-family: arial;
    font-size: 2em;
    font-weight: bold;
    position: fixed;
    margin: -4em 1em 1em 35em;
    list-style: outside none none;
}