@import url('https://fonts.googleapis.com/css?family=Cabin:600|Inconsolata');

/* Shared */

body {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.background-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Main Page */

#main-page-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Main Page Background Image */

#main-page-background {
    background-image: url('../resources/background.jpg');
}

/* Main Page Headers */

#main-page-headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    font-family: 'Cabin', sans-serif;
}

#main-page-headers .header {
    font-size: 7em;
    margin: 0;
}

#main-page-headers .subhead {
    font-size: 4.5em;
    margin: 0;
    color: whitesmoke;
}

/* Main Page Nav */

#main-page-menu ul {
    display: flex;
    flex-direction: row;
    font-family: 'Cabin', sans-serif;
    list-style-type: none;
    font-family: arial;
    font-size: 2.5em;
    color: black;
    padding: 0;
}

#main-page-menu ul li:nth-child(-n+2) a::after {
    content: "|";
    color: black;
    margin: 0em 0.1em 0em 0.1em;
}

/* Main Page Links */

#main-page-container a:link {
    color: black;
    text-decoration: none
}

#main-page-container a:visited {
    color: black;
}

#main-page-container a:hover {
    color: #8D8D8C;
}

#main-page-container a:focus {
    color: #8D8D8C;
}

/* About Page */

#about-page-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* About Page Background */

#about-page-background {
    background-image: url('../resources/me.jpg');
}

/* About Page Header */

#about-page-headers {
    align-self: flex-start;
    margin: 4% 0% 0% 1%;
}

#about-page-headers .header {
    margin: 0;
    color: whitesmoke;
    font-family: Arial;
    font-size: 3em;
}

/* About Page Content */

#about-page-content {
    font-size: 2em;
    font-family: arial;
    color: whitesmoke;
    margin: 1% 50% 1% 1%;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: rgb(0, 0, 0, 0.4);
}

/* About Page Links */

#about-page-container a:link {
    color: black;
    text-decoration: none;
    font-family: arial;
}

#about-page-container a:visited {
    color: black;
}

#about-page-container a:hover {
    color: #8D8D8C;
}

#about-page-container a:focus {
    color: #8D8D8C;
}

/* About Page Nav */

#about-page-menu {
    margin: 0% 0% 1% 1%;
    align-self: start;
    font-size: 2em;
    flex-grow: 10;
    display: flex;
    flex-direction: column-reverse;
}

#about-page-menu a:link {
    color: whitesmoke;
}

#about-page-menu a:visited {
    color: whitesmoke;
}

#about-page-menu a:hover {
    color: #8D8D8C;
}

/* Media Queries */

/* Huge screen */

@media only screen and (min-width : 1501px) {
    /* Todo? */
}

/* Most screens */

@media only screen and (min-width : 1025px) and (max-width : 1500px) {
    /* Todo? */
}

/* iPads and tablets */

@media only screen and (min-width : 768px) and (max-width : 1024px) {

    #main-page-background {
        background-image: url('../resources/background_small.jpg');
    }

    #main-page-headers .header {
        font-size: 6em;
    }

    #main-page-headers .subhead {
        font-size: 4em;
    }

    #main-page-menu ul {
        font-size: 2em;
    }

    #about-page-background {
        background-image: url('../resources/me_small.jpg');
    }

    #about-page-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    #about-page-content {
        font-size: 1.7em;
        margin: 1% 2% 1% 2%;
    }

    #about-page-menu {
        flex-grow: 0;
        font-size: 2em;
    }

    #about-page-headers {
        flex-grow: 10;
    }

}

/* Phones */

@media only screen and (max-width: 767px) {

    #main-page-background {
        background-image: url('../resources/background_vertical.jpg');
    }

    #main-page-headers .header {
        font-size: 3em;
    }
    
    #main-page-headers .subhead {
        font-size: 2em;
    }

    #main-page-menu ul {
        font-size: 1.5em;
    }

    #about-page-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    #about-page-background {
        background-image: url('../resources/me_vertical.jpg');
    }

    #about-page-content {
        font-size: 1em;
        margin: 1% 2% 1% 2%;
    }

    #about-page-menu {
        flex-grow: 0;
        font-size: 1em;
    }

    #about-page-headers {
        flex-grow: 10;
    }
}