a:link {color: black; text-decoration: none}
a:visited {color: black;}
a:hover {color: #8D8D8C;}
a:focus {color: #8D8D8C;}
a:active {color: maroon;}

ul
{
    list-style-type: none;
}

#consthead {
    font-size: 4em;
    font-family: Arial;
    color: #000;
    position: relative;
    display: block-inline;
    margin: auto;
    text-align: center;
}
    
#construction {
    height: 400px;
    width: 400px;
    position: relative;
    display: inline-block;
    margin: 0px 0px 0px 400px;
}

.Links {
    font-family: arial;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    margin: -45px 20px 20px 1125px;
}