a:link {color: black; text-decoration: none}
a:visited {color: black;}
a:hover {color: #8D8D8C;}
a:focus {color: #8D8D8C;}
a:active {color: maroon;}

ul
{
    list-style-type: none;
}

#Hero {
	margin: auto;
    	min-height: 103.5%;
    	min-width: 1024px;
    	width: 103.5%;
	height: auto;
    	position: fixed;
    	left: 0px;
    	top: 0px;
}

#Header {
	font-size: 7em;
	font-family: Arial;
	color: #000;
	position: relative;
	display: block;
	margin-left: 332px;
}

#Subhead {
	font-size: 1.5em;
	font-family: Arial;
	color: #000;
	position: relative;
	display: block;
	margin-left: 675px;
	margin-top: -17px;
}

.Links {
	font-family: arial;
	font-size: 2em;
	font-weight: bold;
	position: relative;
	margin: 365px 20px 20px 1080px;
}



	


