a:link {color: white; text-decoration: none}
a:visited {color: white;}
a:hover {color: #8D8D8C;}
a:focus {color: #8D8D8C;}
a:active {color: maroon;}

ul {
    list-style-type: none;
}

p {
    
}

#Hero {
    margin: auto;
    min-height: 100%;
    min-width: 1em;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0em;
    top: 0em;
}

#Header {
    font-size: 4em;
    position: relative;
    display: inline;
    margin: 1em 1em 1em 3em;
    font-family: Arial;
    color: #FFF;
}


#Higher {
    font-size: 1em
    font-family: arial;
    position: relative;
    color: #000;
    margin: 1em 36em 1em 1em;
}

.Links {
    font-family: arial;
    font-size: 2em;
    font-weight: bold;
    position: fixed;
    margin: 4em 1em 1em 35em;
}

.Social {
    position: relative;
    margin: 11.5em 1em 1em 26em
    list-style-type: none;

}
