a:link {color: white; text-decoration: none}
a:visited {color: white;}
a:hover {color: #8D8D8C;}
a:focus {color: #8D8D8C;}
a:active {color: maroon;}

ul {
    list-style-type: none;
}

p {
    
}

#Hero {
    margin: auto;
        min-height: 100%;
        min-width: 1024px;
        width: 100%;
    height: auto;
        position: fixed;
        left: 0px;
        top: 0px;
}

#Header {
    font-size: 4em;
    position: relative;
    display: inline;
    margin-left: 0px;
    font-family: Arial;
    color: white;
}

#Higher {
    font-size: 1em
    font-family: arial;
    position: relative;
    color: #000;
    margin: 0px 564px 20px 0px;
}

#Lower {
    font-size: 1em
    font-family: arial;
    position: relative;
    color: #000;
    margin: 201px 709px 20px 0px;
}

.Links {
    font-family: arial;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    margin: -48px 20px 20px 1125px;
}

.Social {
    position: relative;
    margin: -609px 20px 20px 1244px;
    list-style-type: none;
}
