a:link {color: black; text-decoration: none}
a:visited {color: black;}
a:hover {color: #8D8D8C;}
a:focus {color: #8D8D8C;}
a:active {color: maroon;}

#Hero {
    margin: auto;
        min-height: 100%;
        min-width: 1024px;
        width: 100%;
    height: auto;
        position: fixed;
        left: 0px;
        top: 0px;
}

#Header {
    font-size: 6em;
    position: relative;
    display: block;
    font-family: Arial;
    margin: 20px 10px 10px 207px;
}



.Links {
    font-family: arial;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    list-style-type: none;
    margin: 135px 20px 20px 1125px;
}

.BlogLinks
{
    position: relative;
    display: block;
    font-family: Courier;
    color: #000;
    margin: 46px 10px 10px 697px;
    font-size: 2.1em;
}