a:link {color: black; text-decoration: none}
a:visited {color: black;}
a:hover {color: #8D8D8C;}
a:focus {color: #8D8D8C;}
a:active {color: maroon;}

ul
{
    list-style-type: none;
}

body {
    background-color: lightgrey;
}

div.hr {
background: #fff  no-repeat scroll center;
width: 100%;
height:.08em;

}

div.hr hr {
display: none;
}

.Icons {
    height: 5em;
    width: 5em;
    display: inline;
    margin: 2em 1em 1em 1em;
}

.PHeader {
    font-family: times;
    font-size: 2em;
    font-style: bold;
    list-style-type: circle;
    display: list-item;

}

.Paragraphs {
    font-family: times;
    font-size: 1em;
    margin: 1em 1em 2em 1em;
}

#Header {
    font-size: 5em;
    font-family: Arial;
    color: #000;
    display: block;
    text-align: center;
    margin: 0em 1em 0.3em 1em;
}


.Links {
	font-family: arial;
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    margin: 0em 1em 1em 35em;
}


	


